body{
    font-family: 'Baloo 2', cursive;
    background-color: #000;
}

.color{
    background-color: #17a3b8;
    text-align: center;
}

.secolor{
    color: #fff;
}

.icon{
    font-size: 2em;
    color: #fff;
    padding: 5px;
}

.hr{
    border-top: solid 2px #17a3b8;
}

.card-body{
    background-color: #17a3b8;
    color: #fff;
}

.lista li{
    display: inline-block;
}
