body{
    font-family: 'Baloo 2', cursive;
    background-color: #000;
}

.color{
    background-color: #17a3b8;
    text-align: center;
}

.sec1{
    color: white;
}

.icon{
    font-size: 2em;
    color: white;
    padding: 5px;
}

.hr{
    border-top: solid 2px #17a3b8;
}


